rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function groupIsOpen(groupId) {
      return get(/databases/$(database)/documents/groups/$(groupId)).data.privileges.membership.open == true;
    }
    match /users/{userId} {
      allow read, create, update, delete: if request.auth.uid == userId;
    }
		match /groupNames/{groupName} {
    	allow read;
    }
		match /groups/{groupId} {
    	allow read;
    }
		match /groups/{groupId}/members/{userId} {
    	allow read;
      allow create: if request.auth.uid == userId && groupIsOpen(groupId);
      allow delete, update: if request.auth.uid == userId;
    }
		match /groups/{groupId}/privileges/{userId} {
    	allow read;
    }
		match /groups/{groupId}/channels/{channelId} {
    	allow read;
      allow write; // #### DEVELOPMENT ####
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}