rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, create, update, delete: if request.auth.uid == userId;
    }
		match /groupNames/{groupName} {
    	allow read;
    }
		match /groups/{groupId} {
    	allow read;
    }
		match /groups/{groupId}/members/{userId} {
    	allow read;
      allow create: if request.auth.uid == userId;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}